---
layout: layouts/home.njk
eleventyNavigation:
  key: MyPage
  order: 3
---
<div class="Item item-3"> <h1>BOOTCAMP COURSE BLOG WORK SAMPLES</h1></div>

    <div class="item item-2">  <img src="me.png" width=45% > <br>Mehzabeen Chikhalia</div>

</div>
<script>

const temperature = prompt ('What is the temperature?');
const doTheyOwnAHat = confirm('Do you own a hat?')


clothesCheck = (temp, hat, name) => {
  console.log(temp,hat);
  if (temp <= 0) {
    return console.log('stay inside.');
  } else if (temp <= 30 && hat) {
    return console.log ('wear a coat and a hat');
  } else if (temp <=50) {
    return console.log('wear a coat.');
  } else {
    return console.log('just pants and vest is fine');
  }
  }
 

let result = clothesCheck(temperature, doTheyOwnAHat);

</script>


<br>
<hr>
{%- css %}{% include "public/css/message-box.css" %}{% endcss %}
<div class="message-box">
<ol>
		<li>See console in developers tool for task 4 answers</li>
        <li></li>
		<li>Also see <a href="https://singular-paletas-345ae5.netlify.app"> previous work done on Blog</a>.</li>
		<li></li>
	</ol>
<p><em>This is an <a href="https://www.11ty.dev/">Eleventy project</a> created from the <a href="https://github.com/11ty/eleventy-base-blog"><code>eleventy-base-blog</code> repo</a>.</em></p>

</div>

<hr>