---
layout: layouts/base.njk
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Eleventy Base Blog v8</title>
		<meta name="description" content="I am writing about my experiences as a naval navel-gazer.">
		<link rel="stylesheet" href="./content/src/css/style.css"/>
		
	</head>
<body>
<style>

.container{
width: 80%;
height: 200px;
margin: 0 auto;
border: 10px solid var(--clr-dark);
background-color: #fb7185
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}


.item {
color: var(--clr-light);
text-align:center;
border: 0px solid var(--clr-accent);
border-radius: 10px;
font-weight: 700;
padding: 1em;
width: 350px;
height: 178px;
background-color: #fb7185
}

.item-2 {
    font-size: 1rem; 
}
.item-3 {
    font-size: 1rem;
}
</style>
</body>
{{ content | safe }}
